<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="quote.css">
    
   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <style>
    #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  padding:1em;
    margin: auto;
      width: 70%;
    font-size: larger;
  }
  
  .hea {
    width:100px;
    font-size: larger;
  }
  body {
    background-color:gold
  }
  h1 {
    color:blue
   
  }
  .quote {
    background-color: limegreen;
    border-radius : 0.5em;
    padding: 1em;
	margin-top:1em;
	width: 40%;
	font-size: medium;
	
	
}

.content {
	margin: 1em 0;
	width:50%;
	font-size:medium;
	
}

.quoteApp {
	margin: auto;
	width: 70%;
}
.nex {
	width:100px;
	font-size: medium;
}
   </style>
    

    <h3 style="color:blue"
    style="font-size:large"
    
    >Logged in as <%= user %></h3>

    <a href="/users/logout">Logout</a>

    
</body>
</html>