<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="quote.css">
    
   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <style>
    #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  padding:1em;
    margin: auto;
      width: 70%;
    font-size: larger;
  }
  
  .hea {
    width:100px;
    font-size: larger;
  }
  body {
    background-color:gold
  }
  h1 {
    color:blue
   
  }
  .quote {
    background-color: limegreen;
    border-radius : 0.5em;
    padding: 1em;
	margin-top:1em;
	width: 40%;
	font-size: medium;
	
	
}

.content {
	margin: 1em 0;
	width:50%;
	font-size:medium;
	
}

.quoteApp {
	margin: auto;
	width: 70%;
}
.nex {
	width:100px;
	font-size: medium;
}
   </style>
    

    <h3 style="color:blue"
    style="font-size:large"
    
    >Logged in as <%= user %></h3>

    <a href="/users/logout">Logout</a>

    <div x-data="loveCounter" >
      <h1>Show some heart</h1>
      
      <div x-text="hearts()" >
      </div>

      <div>
          <button @click="love" class="hea">Show 💟</button>
         <span x-text="loveCounter"></span>
      </div>
    </div>
   
    
  
   
   
  
   <!--div x-data="quoteApp">
    <div x-text="quote.quote"></div>
  </div-->
   <hr>
  
<div x-data="quoteApp" class="quoteApp" >
   

    <h1>Quote App</h1>
    <button @click="getQuote()" class="nex">Next quote 📢</button>
    <div class="quote">
      <div x-text="quote.quote" class="content" ></div>
      <div>
        <strong>by </strong><span x-text="quote.author"></span>
      </div>
      
      
    </div>
  </div>
  
  <div id="app"></div>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <!--script src="/main.js"></script-->
  <!--script>"main.js"</script>
  <script>'love-counter.js'</script>
  <script>'quotes.js'</script-->
 
  <!--script defer src="https://unpkg.com/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script-->
 
   <script >export function LoveCounter() {
    return {
      loveCounter : 0,
      init() {
        setInterval( () => {
          if (this.loveCounter > 0) {
            this.loveCounter--;
          }
         console.log(this.loveCounter)
        }, 3000)
      },
      love() {
       this.loveCounter++
      },
      hearts() {
         
         if (this.loveCounter <= 0) {
          return "💔"
         }
      
         if (this.loveCounter > 0 && this.loveCounter <= 5) {
           return "💚"
         } else if (this.loveCounter <= 10) {
           return "💚💚";
         } else {
           return "💚💚💚";
         }
      }
    }
}</script>
<script >
  import './style.css'
import './quote.css'





//import * as fun from 'everyday-fun';



import persist from '@alpinejs/persist'
Alpine.plugin(persist)
import {LoveCounter} from './love-counter';
import Quotes from './quotes';
import Alpine from 'alpinejs';
window.Alpine = Alpine
//Alpine.data('quoteApp', function(){
	//return {
		//init(){
			//this.quote = fun.getRandomQuote()
		//},
		//quote : {}
	//}
//});
Alpine.data('loveCounter', LoveCounter);


Alpine.data('quoteApp', Quotes)
Alpine.start()
document.querySelector('#app').innerHTML = `"I 💚 Alpine JS!"`
</script>

<script>import * as fun from 'everyday-fun';

  export default function Quotes() {
      return {
        init() {
         this.getQuote();
        },
        quote : {},
        getQuote(){
          this.quote = fun.getRandomQuote()
        },
      }
  }
  </script>
</body>
</html>